<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="contentTemplate='film-table'">

<body>
<div th:fragment="film-table(films)">
<table class="slidDown table" style="color:white">
  <thead>
  <tr>
    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
      <th scope="col">id</th>
    </div>
    <th scope="col">Cover</th>
    <th scope="col">Title</th>
    <th scope="col">Directed By</th>
    <th scope="col">Reviews</th>
    <th scope="col">Cast</th>
  </tr>
  <div th:if="${#httpServletRequest != null and #httpServletRequest.isUserInRole('ROLE_ADMIN')}">
    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
      <div class="d-flex justify-content-end">
        <a href="/admin/films/create" class="btn btn-success">Add a Film
          <i class="material-icons">&#xe145;</i>
        </a>
      </div>
    </div>
  </div>
  </thead>
  <tbody>
  <tr th:if="${#maps.isEmpty(films)}">
    <td colspan="5" class="text-center">
      <div class="alert alert-info" role="alert">
        <i class="bi bi-info-circle"></i> No Films to Display
      </div>
    </td>
  </tr>
  <tr class="slideDown" th:each="film: ${films}">
    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
      <td th:text="${film.key.getId()}"></td>
    </div>
    <td><img th:src="@{${film.key.getCoverPath()}}" class="rounded-left mr-2" width="45" height="80" alt="Film Cover" /></td>
    <td><a class="modern-link" th:href="@{${film.key.getAbsoluteUrl()}}" th:text="${film.key.toString()}"></a></td>
    <td><a class="modern-link" th:href="@{${film.key.getDirector().getAbsoluteUrl()}}" th:text="${film.key.getDirector().getFullName()}"></a></td>
    <td>
      <span class="star">&#9733;</span>
      <span class="rating-value" th:text="${film.value}"></span>
    </td>
    <td><a class="modern-link" th:href="'/actors/film?page=1&id='+ ${film.key.getId()}">View Cast...</a></td>
  </tr>
  </tbody>
</table>
  <form action="/films/list_view?page=" method="GET">
    <div th:replace="fragments/pagination :: pagination(${maxNumberOfPages})"></div>
  </form>
</div>
</body>
</html>