<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="contentTemplate='film_card_fragment'">

<body>
<div th:fragment="film-card(entry)">
    <div class="film-card">
        <img th:src="${entry.key.getCoverPath()}" alt="Film Cover">
        <div class="hover-content">
            <a class="film-link" th:href="@{'/film/detail?id=' + ${entry.key.getId()}}">
                <h3 class="modern-link" th:text="${entry.key.getTitle()}+'('+${entry.key.getReleaseYear()+')'}"></h3>
                <p-dark class="director ml-4" th:text="${entry.key.getDirector().getFullName()}"></p-dark>
                <div class="rating">
                    <span class="star">&#9733;</span>
                    <span class="rating-value" th:text="${entry.value}"></span>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>