<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="contentTemplate='review-table'">

<body>
<div th:fragment="review-table(reviews,films,currentFilm,maxNumberOfPages,page,currentRating,currentOrdering)">
<!--    <p th:text="${currentRating}"></p>-->
    <form id="reviewTableFilters" method="get" action="">
        <div class="row">
            <div class="col-md-3">
                <input type="hidden" name="page" value="1">
                <label style="color:white" for="filmId">Film:</label>
                <select class="select" id="filmId" name="film">
                    <option value="">All Films</option>
                    <option th:each="film : ${films}" th:value="${film.getId()}" th:text="${film.getTitle()}"
                            th:selected="${currentFilm != null and film.getId() == currentFilm.getId()}"></option>
                </select>
            </div>
            <div class="col-md-3">
                <label style="color:white" for="rating">Rating:</label>
                    <select class="form-select" id="rating" name="rating">
                        <option value="">All Ratings</option>
                        <option value="1" th:selected="${currentRating == 1}">1 Star</option>
                        <option value="2" th:selected="${currentRating == 2}">2 Stars</option>
                        <option value="3" th:selected="${currentRating == 3}">3 Stars</option>
                        <option value="4" th:selected="${currentRating == 4}">4 Stars</option>
                        <option value="5" th:selected="${currentRating == 5}">5 Stars</option>
                    </select>
            </div>
            <div class="col-md-3">
                <label style="color:white" for="order">Order:</label>
                    <select class="form-select" id="order" name="order">
                        <option value="">Original Order</option>
                        <option value="desc" th:selected="${currentOrdering == 'desc'}">Descending</option>
                        <option value="asc" th:selected="${currentOrdering == 'asc'}">Ascending</option>
                    </select>
            </div>
            <div class="col-md-3 mt-4">
                <button class="btn btn-success mt-2" type="submit">Filter</button>
            </div>
        </div>

    </form>
    <br>
    <table class="slidDown table" style="color:white">
        <thead>
        <tr>
            <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                <th scope="col">id</th>
            </div>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Film</th>
            <th scope="col">Rating</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(reviews)}">
            <td colspan="7" class="text-center">
                <div class="alert alert-info" role="alert">
                    <i class="bi bi-info-circle"></i> No Reviews to Display with these filters
                </div>
            </td>
        </tr>
        <tr class="slideDown" th:each="review: ${reviews}">
            <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                <td th:text="${review.getReviewId()}"></td>
            </div>
            <td th:text="${review.getReviewAuthor()}"></td>
            <td th:text="${review.getReviewTitle()}"></td>
            <td style="word-break: break-all;" th:text="${review.getReviewBody()}"></td>
            <td><a class="modern-link" th:href="@{${review.getFilm().getAbsoluteUrl()}}" th:text="${review.getFilm().toString()}"></a></td>
            <td>
                <span class="star">&#9733;</span>
                <span class="rating-value text-white" style="color:white" th:text="${review.getReviewRating()}+'/5'"></span>
            </td>
            <td>
                <div class="d-flex">
                    <div th:if="${#httpServletRequest != null and (#httpServletRequest.isUserInRole('ROLE_ADMIN')) or (#httpServletRequest.userPrincipal != null and #httpServletRequest.userPrincipal.name == review.getReviewAuthor())}">
                        <a id="delete_review" class="btn btn-danger" th:href="@{'/reviews/delete_confirm?id=' + ${review.getReviewId()}}"><i class="bi bi-trash"></i></a>
                    </div>
                    <div th:if="${#httpServletRequest.userPrincipal != null and #httpServletRequest.userPrincipal.name == review.getReviewAuthor()}">
                        <a id="edit_review" class="btn btn-warning" th:href="@{'/reviews/edit?id=' + ${review.getReviewId()}}"><i class="bi bi-pencil-square"></i></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <!-- Previous page button -->
        <a th:if="${page > 1}" th:href="@{${'/?page=' + (page - 1)}}" class="pagination-link">Previous</a>
        <!-- Page numbers -->
                <span th:if="${maxNumberOfPages > 0}">
                    <span th:each="pageNumber : ${#numbers.sequence(1, maxNumberOfPages)}">
                        <a th:href="@{${'/?page=' + pageNumber}}" th:class="${pageNumber == page ? 'active' : ''}" class="modern-link pagination-link" th:text="${pageNumber}"></a>
                    </span>
                </span>

        <!-- Next page button -->
        <a th:if="${page < maxNumberOfPages}" th:href="@{${'/?page=' + (page + 1)}}" class="modern-link pagination-link">Next</a>
    </div>
</div>
</body>
</html>