.modern-link {
  color: #ffffff; /* Set the text color to white */
  text-decoration: none;
  border-bottom: none;
  cursor:pointer;
  transition: border-bottom-color 0.3s ease-in-out;
}
.modern-link:hover {
  border-bottom-color: transparent;
}