<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/base :: html" th:with="contentTemplate='admin_actors_list'" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div class="container mt-3" th:fragment="content">
  <div class="mt-4 mb-4">
    <h2 style="color:white">Admin Panel/Actor List </h2>
  </div>
  <table class="table slideDown" style="color:white">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Image</th>
      <th scope="col">Full Name</th>
      <th scope="col">Born on:</th>
      <th scope="col">Died On</th>
      <th scope="col">Films they starred in:</th>
    </tr>
    <div class="d-flex justify-content-end">
      <a href="/admin/actors/create" class="fadeIn btn btn-success">Add an Actor
        <i class="material-icons">&#xe145;</i>
      </a>
    </div>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(actors)}">
      <td colspan="6" class="text-center">
        <div class="alert alert-info" role="alert">
          <i class="bi bi-info-circle"></i> No Actors to Display
        </div>
      </td>
    </tr>
    <tr class="slideDown" th:each="actor: ${actors}">
      <td th:text="${actor.getId()}"></td>
      <td><img th:src="@{${actor.ImagePath}}" class="rounded-left mr-2" width="45" height="70" alt="Director Image" /></td>
      <td th:text="${actor.getFullName()}"></td>
      <td th:text="${actor.getBirthDate()}"></td>
      <td th:text="${actor.getDeathDate()}"></td>
      <td><a th:href="'/films/actor?id='+ ${actor.getId()}">View Filmography...</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>