<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/base :: html" th:with="contentTemplate='admin_film_create'">
<div class="container mt-3" th:fragment="content">
  <div class="mt-4 mb-4">
    <h2 style="color:white">Admin Panel/Film List/Create </h2>
  </div>
  <div class="fadeIn row">
    <div class="col-md-6">
      <form th:action="@{/films/create}" method="post" enctype="multipart/form-data">
        <label for="title" style="color:white">Title:</label>
        <input type="text" id="title" class="form-control" th:field="*{film.title}" required />
        <label for="releaseYear" style="color:white">Release Year:</label>
        <input type="number" id="releaseYear" class="form-control" th:field="*{film.releaseYear}" required />
        <label for="director" style="color:white">Director:</label>
        <select class="select" id="director" name="director" th:field="*{film.director}" required>
          <option value=" "></option>
          <option th:each="director : ${directors}" th:value="${director.id}" th:text="${director.firstName + ' ' + director.lastName}"></option>
        </select>
        <label for="actors" style="color:white">Actors:</label>
        <select class="select" id="actors" th:field="*{film.actors}" multiple required >
          <option value=" "></option>
          <option th:each="actor : ${actors}" th:value="${actor.id}" th:text="${actor.name}"></option>
        </select>
        <label for="image" style="color:white">Images (the first one is the cover):</label>
        <input type="file" id="image" class="form-control-file" th:field="*{film.images}" accept="image/*" multiple />
        <div id="selected-images"></div>
        <button class="btn btn-primary mt-4" type="submit">Create Film</button>
      </form>
    </div>
    <div class="slideRight col-md-6">
      <img src="/static/images/film_reel.webp" class="spinner ml-2" width="180" height="180">
      <img src="/static/images/film_reel.webp" class="spinner" width="206" height="206">
    </div>
  </div>
</div>
</html>