<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/base :: html" th:with="contentTemplate='admin_film_list'" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div class="container mt-3 slideDown" th:fragment="content">
    <div th:if="${#httpServletRequest != null and #httpServletRequest.isUserInRole('ROLE_ADMIN')}">
        <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
            <div class="mt-4 mb-4">
                <h2 style="color:white">Admin Panel/Film List</h2>
            </div>
        </div>
    </div>
    <div th:unless="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
        <div class="mt-4 mb-4">
            <h2 style="color:white">All Films</h2>
        </div>
    </div>
    <div th:replace="fragments/film-table :: film-table(${films})"></div>
</div>
</body>
</html>