<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/base :: html" th:with="contentTemplate='film_cast'" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div class="container mt-3" th:fragment="content">
    <div class="row">
        <div class=" col-md-4">
            <div class="profile-detail ">
                <img class="slideRight" th:src="${film.getCoverPath()}" alt="Profile Picture">
            </div>
            <div class="mt-2 d-flex justify-content-center" th:if="${#httpServletRequest != null and (#httpServletRequest.isUserInRole('ROLE_ADMIN'))}">
                <a  id="edit_film" class="btn btn-warning" th:href="@{'/admin/film/edit?id=' + ${film.getId()}}">Edit</a>
                <a  id="delete_film" class="btn btn-danger" th:href="@{'/admin/film/delete_confirm?id=' + ${film.getId()}}">Delete</a>
            </div>
            <p-dark></p-dark>
        </div>
        <div class="col-md-8">
            <h2 style="color:white" th:text="${film.toString()}" class="font-weight-bold"></h2>
            <a class="modern-link" th:href="${film.getDirector().getAbsoluteUrl()}"><i style="color:white; font-size:11px" th:text="'by '+${film.getDirector().getFullName()}" class="font-weight-bold"></i></a>
            <h3 class="mt-2">Film/Cast</h3>
            <div th:replace="fragments/actor-table :: actor-table(actors=${actors}, maxNumberOfPages=${maxNumberOfPages})"></div>
        </div>
    </div>
</div>
</body>
</html>