<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/base :: html" th:with="contentTemplate='film_detail'" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div class="container mt-3 slideDown" th:fragment="content">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <input type="hidden" id="filmId" name="film" th:value="${film.getId()}">
  <h3 style="color:white;" th:text="${film.getTitle()} +'('+${film.getReleaseYear()}+')'"></h3>
  <div class="col-md-3" style="text-align: left;">
    <a class="modern-link" th:href="'/director/detail?id=' + ${film.getDirector().getId()}" style="font-style: italic" th:text="'by: ' + ${film.getDirector().getFullName()}" ></a>
  </div>
  <!-- Film Carousel -->
  <div th:replace="fragments/film-carousel :: film-carousel(${film})"></div>
  <!-- Film Rating and Review Section -->
  <div class="row mt-4">
    <div class="col-md-10">
      <!-- Check if user is logged in -->
      <!-- If not logged in, show login or sign up message -->
      <div th:if="${reviewLeft}">
        <p-dark id="review_left">Thanks for reviewing this movie!</p-dark>
      </div>
      <div th:if="${#httpServletRequest != null and (#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))} and not ${reviewLeft}">
        <p-dark id="write_a_review_statement">Have you seen this film? <a class="modern-link" id="write_a_review">Leave your thoughts!</a></p-dark>
      </div>
      <div th:unless="${(#httpServletRequest.isUserInRole('ROLE_ADMIN') or #httpServletRequest.isUserInRole('ROLE_USER'))}">
        <a class="modern-link" href="/register">Login or Sign Up to leave your thoughts!</a>
      </div>
      <div th:if="${#httpServletRequest != null and (#httpServletRequest.isUserInRole('ROLE_ADMIN'))}">
          <a  id="edit_film" class="btn btn-warning" th:href="@{'/admin/film/edit?id=' + ${film.getId()}}">Edit</a>
          <a  id="delete_film" class="btn btn-danger" th:href="@{'/admin/film/delete_confirm?id=' + ${film.getId()}}">Delete</a>
      </div>
      <!-- If logged in, show review form -->
    </div>
    <div class="col-md-2">
      <div>
        <!-- Film Rating -->
        <div class="rating">
          <p-dark>Rating:  </p-dark>
          <span class="star">&#9733;</span>
          <span id="rating_value" class="rating-value"></span>
          <a class="modern-link" id="show_review_modal" data-toggle="modal" data-target="#reviewsModal">
             (<span id="review_counter" th:text="${number_of_reviews}"></span>)
          </a>
        </div>
        <div id="reviewModal"></div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <p-dark>
        <div th:text="${filmDescrptionBody}"></div>
      </p-dark>
    </div>
    <div class="col-md-2">
      <div>
        <div th:replace="fragments/cast_fragment :: film-cast(cast=${film.getActors()},film=${film})"></div>
      </div>
    </div>

  </div>
  <div id="formContainer">

  </div>
</div>
</body>
</html>