<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:include="/fragments/base :: html"  th:with="contentTemplate='home'"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div class="container mt-3" th:fragment="content">

    <h3 style="color:white">Top Rated:</h3>

    <div th:replace="fragments/film-carousel-home :: film-carousel-home(${carouselFilms})"></div>

    <div class="movie-list-section mt-2">
        <a class="modern-link movie-list-link" href="/films/list_view?page=1">View All Films...</a>
    </div>
    <div class="container mt-2">
        <h2 style="color:white" >Latest Releases:</h2>
        <div class="container-scroll">
            <div class="scroll-wrapper row-scroll" style="margin-left: 50px;">
                <div class="col-sm-3 mt-2 slideRight" th:each="entry : ${filmRatings}">
                    <div th:replace="fragments/film_card_fragment :: film-card(${entry})"></div>
                </div>

                <div th:if="${#lists.isEmpty(filmRatings)}">
                    <div class="alert alert-info" role="alert">
                        <i class="bi bi-info-circle"></i> No films to display!
                    </div>
                </div>
            </div>
            <div class="scroll-button previous"><i class="bi bi-arrow-left-circle-fill"></i></div>
            <div class="scroll-button next"><i class="bi bi-arrow-right-circle-fill"></i></div>
        </div>
    </div>

</div>
</body>
</html>